In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.read_csv("../data_set/timeseries/external.csv")

     Unnamed: 0        date     PriceUSD      HashRate
0          2190  2015-01-02   315.942732  3.333450e+05
1          2191  2015-01-03   285.647310  3.272842e+05
2          2192  2015-01-04   263.334575  3.474869e+05
3          2193  2015-01-05   275.003852  3.151626e+05
4          2194  2015-01-06   287.549521  3.192031e+05
..          ...         ...          ...           ...
906        3096  2017-06-26  2426.365051  5.023770e+06
907        3097  2017-06-27  2530.345536  4.634604e+06
908        3098  2017-06-28  2562.792264  5.554450e+06
909        3099  2017-06-29  2540.443032  4.245439e+06
910        3100  2017-06-30  2452.712064  5.448314e+06

[911 rows x 4 columns]